:root {
  --suurus: 150px;
}

body, html {
  background-color: #00CC66;
  font-family: 'Aubrey', sans-serif;
  height: 100%;
  size: 100%;
  margin: 0;
  padding: 0;
}

.karu {
  position: absolute;
  top: 50%;
  margin-top: -25%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

h1 {
  position: absolute;
  top: 30%;
  left: 30%;
  white-space: pre;
  transform: skew(-10deg);
  color: #FF0000;
  font-size: 8vmin;
  line-height: 8vmin;
}

.nupp {
  position: absolute;
  top: calc(50% - var(--suurus) / 2);
  background-color: #ff99ff;
  height: var(--suurus);
  width: var(--suurus);
  border-radius: 10px;
}

.vasakule {
  left: 20px;
}

.paremale {
  right: 20px;
}

.nokkmuts {
  position: absolute;
  top: calc(50% - 222px);
  left: calc(50% - 249px);

}

h1 {
  position: absolute;
  z-index: 2;
}
