:root {
  --suurus: 150px;
}

body, html {
  /* background: linear-gradient(#FF55AA 0%, #FFFFFF 100%); */
  font-family: 'Aubrey', sans-serif;
  height: 100%;
  size: 100%;
  margin: 0;
  padding: 0;
}

.karu {
  position: absolute;
  top: 50%;
  margin-top: -25%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.karu2 {
  position: absolute;
  z-index: 3;
  top: 50%;
  margin-top: -12%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

#bearline {
  position: absolute;
  top: 50%;
  margin-top: -24%;
  margin-left: 10%;
  margin-right: 10%;
  width: 85%;
  position: absolute;
  z-index: 2;

}

@media only screen and (max-width: 600px) {
  .karu {
    transform: rotate(90deg);
    width: 150%;
    top: 45%;
    margin-left: -20%;
  }
  #bearline {
    z-index: 2;
    transform: rotate(90deg);
    margin-top: -15%;
    width: 159%;
    top: 42%;
    margin-left: -26%;
  }
}

h1 {
  position: absolute;
  top: 30%;
  left: 30%;
  white-space: pre;
  transform: skew(-10deg);
  color: #FF0000;
  font-size: 8vmin;
  line-height: 8vmin;
}

.nupp {
  position: absolute;
  top: calc(50% - var(--suurus) / 2);
  background-color: #ff99ff;
  height: var(--suurus);
  width: var(--suurus);
  border-radius: 10px;
}

.vasakule {
  left: 20px;
}

.paremale {
  right: 20px;
}

.nokkmuts {
  position: absolute;
  top: calc(50% - 222px);
  left: calc(50% - 249px);

}

h1 {
  position: absolute;
  z-index: 2;
}
